<div class="left-nav-bar_component">
        <div class="search">
            <input type="text" class="search form-control" placeholder="Search" ng-model="searchText">
            <span class="glyphicon glyphicon-search" />
            <span class="glyphicon glyphicon-remove" ng-click="searchText = ''"/>
        </div>
        <div class="people-cards">
            <ul class="nav nav-pills nav-stacked">
                <li class="people" ng-repeat="person in leftNavBar.people | filter:searchText">
                    <span class="cards btn btn-default navbar-btn" ng-click="leftNavBar.clickHandler(person)">
                        {{person.name}}
                        <span class="glyphicon glyphicon-play" />
                    </span>
                </li>
            </ul>
        </div>
        <div class=people-content ng-if="leftNavBar.displayContent">
            <ul>
                <li ng-repeat="item in leftNavBar.filledHearts">
                    <span class="glyphicon glyphicon-heart"/>
                </li>
                <li ng-repeat="item in leftNavBar.emptyHearts">
                    <span class="glyphicon glyphicon-heart-empty"/>
                </li>
            </ul>
            <img src="{{leftNavBar.person.img}}"/>
            <button class="btn btn-default navbar-btn">SEND MESSAGE!</button>
            <span class="rating">Rating: {{leftNavBar.person.rating}}</span>
            <blockquote class="description">
                <p>{{leftNavBar.person.Description}}</p>
            </blockquote>
            <table class="table">
                <tr>
                    <th>Likes</th>
                    <th>Dislikes</th>
                </tr>
                <tr ng-repeat="(key, value) in leftNavBar.person.Likes">
                    <td>{{value}}</td>
                    <td>{{leftNavBar.person.Dislikes[key]}}</td>
                </tr>
            </table>
        </div>
</div>