<div class="left-nav-bar_component">
    <div class="search input-group">
        <input type="text" class="form-control" placeholder="Search" ng-model="searchText">
        <span class="input-group-addon">
            <span class="glyphicon glyphicon-search" />
        </span>
    </div>
    <div class="people-cards">
        <ul class="nav nav-pills nav-stacked">
            <li class="people" ng-repeat="person in leftNavBar.people | filter:searchText">
                <span>{{person.name}}</span>
            </li>
        </ul>
    </div>
</div>