<div class="left-nav-bar_component">
    <div class="left-menu">
        <div class="search">
            <input type="text" class="search form-control" placeholder="Search" ng-model="searchText">
            <span class="glyphicon glyphicon-search" />
            <span class="glyphicon glyphicon-remove" ng-click="searchText = ''"/>
        </div>
        <div class="people-cards">
            <ul class="nav nav-pills nav-stacked">
                <li class="people" ng-repeat="person in leftNavBar.people | filter:searchText">
                    <span class="cards btn btn-default navbar-btn" ng-click="leftNavBar.clickHandler(person)">
                        {{person.name}}
                        <span class="glyphicon glyphicon-play" />
                    </span>
                </li>
            </ul>
        </div>
    </div>
    <div class=people-content ng-show="leftNavBar.displayContent">
        <div class="people-profile">
            <img class="people-img" src="{{leftNavBar.person.img}}"/>
            <div class="people-rating">
                <button class="send btn btn-default navbar-btn">SEND MESSAGE!</button>
                <ul class="people-rating">
                    <li class="people-rating-heart" ng-repeat="item in leftNavBar.filledHearts">
                        <span class="glyphicon glyphicon-heart"/>
                    </li>
                    <li class="people-rating-heart" ng-repeat="item in leftNavBar.emptyHearts">
                        <span class="glyphicon glyphicon-heart-empty"/>
                    </li>
                </ul>
            </div>
        </div>
        <blockquote class="description">
            <p>{{leftNavBar.person.Description}}</p>
        </blockquote>
        <table class="table">
            <tr>
                <th>Likes</th>
                <th>Dislikes</th>
            </tr>
            <tr ng-repeat="(key, value) in leftNavBar.person.Likes">
                <td>{{value}}</td>
                <td>{{leftNavBar.person.Dislikes[key]}}</td>
            </tr>
        </table>
    </div>
</div>